/*Author: Kamoy Saunders
	ID 20202957
	Date: 4/21/22
	Purpose: Major Project Internet Authoring 2
*/


body {
	background-color: #ffffff;
	padding-top: 80px;
	background-image: url("pic3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

form {
	background-color: rgba(255, 255, 255, 0.3);
	opacity: 0.8;
	border: 1px solid #E05376;
	width: 600px;
	margin: auto;
	box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.5), 0 12px 26px 0 rgba(0, 0, 0, 0.20);
}

p {
	text-align: center;
	font-family: Garamond, Georgia, serif;
	font-size: 25px;
}


button.menubtn {
		background-color: #E0AF26;
  	color: black;
		padding: 14px 20px;
  	margin: 8px 25%;
  	border: none;
  	cursor: pointer;
  	width: 50%;
  	border-radius: 15px;
  	font-size: 15px;
  	box-shadow:0 8px 10px 0 rgba(0, 0, 0, 0.5), 0 12px 26px 0 rgba(0, 0, 0, 0.19);
  	align-content: center;
}

button:hover {
  opacity: 0.8;
}


.container{
	padding: 20px;
} 
